<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="boardInsert" parameterType="boardDTO" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardWriter, boardPass, boardTitle, boardContents, fileAttached)
        value (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents}, #{fileAttached})
    </insert>

    <insert id="saveFile" parameterType="boardDTO">
        insert into board_file_table(originalFileName, storedFileName, boardID)
        values (#{originalFileName}, #{storedFileName}, #{id})
    </insert>

    <select id="boardList" resultType="boardDTO">
        select * from board_table order by id desc
    </select>

    <select id="listLookup" parameterType="Long" resultType="boardDTO">
        select * from board_table where id=#{id}
    </select>

    <select id="listLookupFile" parameterType="Long" resultType="boardDTO">
        select * from board_table b, board_file_table bf
        where b.id = bf.boardId and b.id = #{id}
    </select>

    <delete id="boardDelete" parameterType="Long">
        delete from board_table where id = #{delete}
    </delete>

    <update id="updateHits" parameterType="Long">
        update board_table set boardHits = boardHits +1 where id=#{id}
    </update>

    <select id="boardUpdate" parameterType="Long" resultType="boardDTO">
        select * from board_table where id = #{id}
    </select>

    <update id="update" parameterType="boardDTO">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id = #{id}
    </update>

    <select id="checkPass" parameterType="Long" resultType="boardDTO">
        select * from board_table where id = #{id}
    </select>

<!--    Map으로 넘겼을 때는 key 값을 #{}에 사용함-->
    <select id="pagingList" parameterType="java.util.HashMap" resultType="boardDTO">
        select * from board_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(id) from board_table
    </select>

<!--    컬럼이름을 전달받은 변수값으로 지정하려면 $를 사용해야함-->
<!--    concat = 붙인다는 개념 -->
    <select id="search" parameterType="java.util.HashMap" resultType="boardDTO">
        select * from board_table where ${type}
        like concat('%', #{q}, '%') order by id desc
    </select>


</mapper>
